/*
COLOURS
Yellow: #F1F119
Light Blue: #44D6C4
Grey: #2D2D39
Off White: #F4F8FD
Off Black: #171717
*/

/* importing fonts */
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
/* Main styles */
h1 {

}
h2 {
    
}
p {
    font-family: 'Raleway', sans-serif;
}

/* NavBar stuff */
@import url('https://fonts.googleapis.com/css?family=Montserrat:500');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
    
}
.navBar {
    overflow: hidden;
    background-color: #4f4f55;
    position: fixed;
    top: 0;
    width: 100%;
}
.navBar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
}
li, a, button{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: black;
    text-decoration: none;
}

header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    position: fixed;
}

.logo{
    cursor: pointer;
}

.nav__links {
    list-style: none;
}

.nav__links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li{
    transition: all 0.3s ease 0s;
}
.nav__links li a:hover {
    color: aqua
}


button{
    padding: 9px 25px;
    background-color: rgb(231, 215, 66);
    border: none;
    border-radius: 50 px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: rgba(113, 223, 238, 0.8);

}

/* features */
.features 
{
    background-image: url("./images/tall_buildings.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}




/* NavBar stuff */
@import url('https://fonts.googleapis.com/css?family=Montserrat:500');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

li, a, button{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0fe;
    text-decoration: none;
}

header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.logo{
    cursor: pointer;
}

.nav__links {
    list-style: none;
}

.nav__links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li{
    transition: all 0.3s ease 0s;
}
.nav__links li a:hover {
    color: aqua
}


button{
    padding: 9px 25px;
    background-color: rgb(231, 215, 66);
    border: none;
    border-radius: 50 px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: rgba(113, 223, 238, 0.8);

}

/* features */
.features {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Montserrat', sans-serif;
background-image:src="images/map.png"; 
}
.container{
   
    
}


/* HOME */

html, body{
    height:100%;
}

.home {
    background-image: url("/images/map.jpg"); 
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100%;
    position: relative;
}

.home .text{
    width: 50%;
    height: 25%;
    padding: 40px 40px 40px 40px;
    top: 30%;
    margin: auto;
    position: relative;
    text-align: center;
    background-color: #2D2D39;
    color:#44D6C4;
    /*text-shadow: -1px 0 #171717, 0 1px #171717, 1px 0 #171717, 0 -1px#171717;
    */
}

.home .text h1{
    font-size: 50px;
}

.home .text h2{
    font-size: 30px;
}

/* CUSTOMER TESTIMONIALS */
.cust-reviews {
    box-sizing: border-box;    
    background-image: url("./images/city_intersection.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 80vh;
    padding: 40px 0 40px 0;
    font-size: 16px;          
}
.cust-reviews::after {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    content: '';
    background: rgba(0,0,0,0.4);
}
.cust-reviews .upper-container {
    padding: 10px 15px;
}
.cust-reviews h2 {
    /* background-color: #171717; */
    color: #F1F119 ;
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
}
.cust-reviews p {
    /* background-color: #2D2D39; */
    color: #F4F8FD;
    font-size: 1.5rem;
}
.cust-reviews .row {   
    padding: 10px;
    margin-top: 9vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.cust-reviews .row:after {
    /* Clear floats after the columns */
    content: "";
    display: table;
    clear: both;
}
.cust-reviews .column {
    background-color: #2D2D39;
    box-shadow: 4px 5px 3px black;
    border: 1px solid #F4F8FD;
    width: 30vw;
    height: 35vh;                
    padding: 7px;
}
.cust-reviews .column iframe {
    width: inherit;
    height: inherit;
}
.cust-reviews .column img {
    width: inherit;
    height: inherit;
}


/*ABOUT US SECTION*/
section{
    background: white;
    display: flex;
    flex-direction: row;
    color: black;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    padding: 20px;
}

.people {
    color: black;
    padding: 20px;
    display: flex;
    flex-direction: row;
}

.people a {
    text-decoration: none;
    color: black;
}

.people figure {
    margin: auto;
    text-align: center;
    width: 200px;
}
.people figure img {
    border: 1px solid white;
    border-radius: 50%;
    box-shadow: grey 0 0 10px;
    width: 150px;
}


/* FAQ Section */
.container {
    width: 98%;
    overflow: hidden;
    background: url(https://cdn.discordapp.com/attachments/763177317929058326/766010087063289866/pexels-photo-219692.png) no-repeat center center fixed;
    margin-top: 20px auto;
    padding: 20px;
}

.container ul{
    padding: 0px;
    margin: 0px;
}
.container ul li {
    opacity: 0.75;
    list-style: none;
    float: left;
    width: 20%;
    height: 300px;
    background: black;
    margin:  80px 150px 80px 80px;
    box-sizing: border-box;
}
.container ul li:hover {
    opacity: 1;
}

.container ul li .title {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background:white;
    text-align: center;

}

.container ul li .title:hover {
    background: blue;
    color: white;
}

.container ul li .questions {
    color: white;
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: left;
    margin: 5px 10px 10px 10px;
}

@media screen and (max-width:1250px){
    .container ul li{
        width:40%;
        margin: 40px;

    }
}


