
/* CUSTOMER TESTIMONIALS */
.cust-reviews {
    box-sizing: border-box;               
}
.cust-reviews .row {
    background-image: url("/images/city_intersection.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
/* Clear floats after the columns */
.cust-reviews .row:after {
    content: "";
    display: table;
    clear: both;
}
.cust-reviews .column {
    background-color: rgb(0, 40, 66);
    box-shadow: 3px 4px 2px black;
    border: 1px solid rgb(221, 221, 221);
    width: 22.5vw;
    height: 60vh;                
    padding: 9px;
}
.cust-reviews .column iframe {
    width: inherit;
    height: inherit;
}

