

.container-questions {
    width: 98%;
    overflow: hidden;
    background: url(https://cdn.discordapp.com/attachments/763177317929058326/766010087063289866/pexels-photo-219692.png) no-repeat center center fixed;
    margin-top: 20px auto;
    padding: 20px;
}

.container-questions ul{
    padding: 0px;
    margin: 0px;
}
.container-questions ul li {
    opacity: 0.75;
    list-style: none;
    float: left;
    width: 20%;
    height: 300px;
    background: black;
    margin:  80px 150px 80px 80px;
    box-sizing: border-box;
}
.container-questions ul li:hover {
    opacity: 1;
}

.container-questions ul li .title-questions {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background:white;
    text-align: center;

}

.container-questions ul li .title-questions:hover {
    background: blue;
    color: white;
}

.container-questions ul li .questions {
    color: white;
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: left;
    margin: 5px 10px 10px 10px;
}

@media screen and (max-width:1250px){
    .container-questions ul li{
        width:40%;
        margin: 40px;

    }
}